@font-face {
  font-family: 'Raleway-Medium';
  src: url('../../assets/Raleway-Medium.woff') format('woff');
  src: url('../../assets/Raleway-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

.page {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway-Medium', Fallback, sans-serif;
  margin: 25px;
}

.header {
  margin-bottom: 25px;
}

.body {
  font-size: 100%;
}

a:active {
  color: #6b90ac;
}

a:hover {
  color: #e9a143;
}

@media only screen and (max-width: 680px) {
  .page {
  }
}

a:hover {
  color: #e9a143;
}

@media only screen and (max-width: 680px) {
  .page {
  }
}
